<%- include('layout', { Content: `
 
         <form class="bookform" method="GET" action="/book-search/search">
            <label class="bookform" for="search">Enter a book title, author, or keyword:</label>
            <input class="bookform" type="text" id="search" name="query"> 
            <button class="bookform" type="submit">Search</button>
        </form><br><br>
        <h2>The Bookworm's Best Friend: The Importance of a Search Engine Specifically Designed for Books</h2><br><p>For bookworms, the world of literature is an enchanting realm filled with stories, ideas, and knowledge waiting to be discovered. In this digital age, where information is at our fingertips, having a search engine specifically designed to find books is a game-changer. This specialized tool not only caters to the unique needs of book enthusiasts but also enhances the overall reading experience. Traditional search engines often return a broad range of results that might include articles, news, and irrelevant information along with books. A search engine designed for books streamlines the discovery process by presenting results that are exclusively related to books, authors, and literary works. This ensures that bookworms can quickly and accurately find the titles they are searching for without the noise of unrelated content.

</p><br>
   
` , pageTitle: 'Book Search'}) %>
 