<!DOCTYPE html>
<html>
<head>   <link rel="stylesheet" href="https://panopticpen.space/book-search/styles.css">

<meta http-equiv="Content-Security-Policy" content="script-src 'self' https://www.googletagmanager.com https://fonts.googleapis.com https://gor.bio https://mc.yandex.ru https://panopticpen.disqus.com https://www.panopticpen.space https://www.panopticpen.gor.bio https://cdn.gtranslate.net">


<link href=https://panopticpen.space/media/favicon.ico rel=icon type=image/x-icon />
<link rel=stylesheet href=https://panopticpen.space/styles/fontawesome-free-6.4.2-web/css/all.min.css />
<script src=https://panopticpen.space/jquery-3.7.0.min.js></script>
<script src="https://panopticpen.space/gsap_3.9.1_gsap.min.js"></script>
<meta name=author conbodtent="Yunus Emre Vurgun">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T40HS5J15L"></script> 
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=shadow-multiple">
<script>window.dataLayer=window.dataLayeer||[];function gtag(){dataLayer.push(arguments);}
gtag('js',new Date());gtag('config','G-T40HS5J15L');</script>
<link href=https://panopticpen.space/styles/mainStyle.css rel=stylesheet type=text/css />
<link href=https://panopticpen.space/styles/index.css rel=stylesheet type=text/css />
<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(94623792, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/94623792" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    <meta charset="UTF-8">
<meta content='width=device-width, initial-scale=1.0' name=viewport />
<meta content='width=1100' name=viewport />
<meta content='text/html; charset=UTF-8' http-equiv=Content-Type />
<link href=https://panopticpen.space/media/favicon.ico rel=icon type=image/x-icon /><style> #hostgatorDIV { display: block; width: 700px; } @media only screen and (max-width: 760px) { #hostgatorDIV { display: none !important; } } </style>
<link href=https://panopticpen.space/ rel=canonical />
<meta content=https://panopticpen.space/ property=og:url />
<meta content='The Panoptic Pen - panopticpen.space' property=og:title />
<meta content={@headDescriptionMeta} property=og:description />
<title><%= pageTitle %> | The Panoptic Pen - panopticpen.space</title>
<meta name=twitter:card content=summary_large_image>
<meta name=twitter:image content='https://panopticpen.space/media/Screenshot2023-07-06at220221.png'>
<meta property=og:image content='https://panopticpen.space/media/Screenshot2023-07-06at220221.png'>
<script type=text/javascript>var owa_baseUrl='https://gor.bio/analytics/';var owa_cmds=owa_cmds||[];owa_cmds.push(['setSiteId','594bbc82fba7393d8cc07057cd7f2d18']);owa_cmds.push(['trackPageView']);owa_cmds.push(['trackClicks']);(function(){var _owa=document.createElement('script');_owa.type='text/javascript';_owa.async=true;owa_baseUrl=('https:'==document.location.protocol?window.owa_baseSecUrl||owa_baseUrl.replace(/http:/,'https:'):owa_baseUrl);_owa.src=owa_baseUrl+'modules/base/dist/owa.tracker.js';var _owa_s=document.getElementsByTagName('script')[0];_owa_s.parentNode.insertBefore(_owa,_owa_s);}());</script>


</head>
<body class=loading>
<script src="https://panopticpen.space/scripts/right-after-body-tag.js"></script>
<noscript><div class=error>
JavaScript is NOT allowed in YOUR browser. JavaScript is needed to use this website properly.
</div></noscript>
<br><br>
<div itemscope=itemscope itemtype=http://schema.org/Blog style=display:none>
<meta content=test itemprop=name />
</div>
<div class=body-fauxcolumns>
<div class='fauxcolumn-outer body-fauxcolumn-outer'>
<div class=cap-top>
<div class=cap-left></div>
<div class=cap-right></div>
</div>
<div class=fauxborder-left>
<div class=fauxborder-right></div>
<div class=fauxcolumn-inner></div>
</div>
<div class=cap-bottom>
<div class=cap-left></div>
<div class=cap-right></div>
</div>
</div>
</div>
<div class=content>
<div class=content-fauxcolumns>
<div class='fauxcolumn-outer content-fauxcolumn-outer'>
<div class=cap-top>
<div class=cap-left></div>
<div class=cap-right></div>
</div>
<div class=fauxborder-left>
<div class=fauxborder-right></div>
<div class=fauxcolumn-inner></div>
</div>
<div class=cap-bottom>
<div class=cap-left></div>
<div class=cap-right></div>
</div>
</div>
</div>
<div class=content-outer>
<div class='content-cap-top cap-top'>
<div class=cap-left></div>
<div class=cap-right></div>
</div>
<div class='fauxborder-left content-fauxborder-left'>
<div class='fauxborder-right content-fauxborder-right'></div>
<div class=content-inner>
<header>
<div class=header-outer>
<div class='header-cap-top cap-top'>
<div class=cap-left></div>
<div class=cap-right></div>
</div>
<div class='fauxborder-left header-fauxborder-left'>
<div class='fauxborder-right header-fauxborder-right'></div>
<div class='region-inner header-inner'>
<div class='header section' id=header name=Header>
<div class='widget Header' data-version=1 id=Header1>
<div id=header-inner>
<a href=https://panopticpen.space/ >
<div id=imageContainer>
<img alt=test   id=Header1_headerimg src=https://panopticpen.space/media/panopticLogo.png   /></div>
</a>
</div>
</div>
</div>
</div>
</div>
<div class='header-cap-bottom cap-bottom'>
<div class=cap-left></div>
<div class=cap-right></div>
</div>
</div>
</header>
<div class=tabs-outer>
<div class='tabs-cap-top cap-top'>
<div class=cap-left></div>
<div class=cap-right></div>
</div>
<div class='fauxborder-left tabs-fauxborder-left'>
<div class='fauxborder-right tabs-fauxborder-right'></div>
<div class='region-inner tabs-inner'>
<div class='tabs section' id=crosscol name=Cross-Column>
<div class='widget PageList' data-version=1 id=PageList8>
<h2>Pages - Menu</h2>
<div class=widget-content>
<ul> 
<li>
<a href=https://panopticpen.space/><i class="fas fa-home"></i></a>
</li>
<li>
<a href=https://panopticpen.space/posts/about-the-panoptic-pen-blog><i class="fas fa-info-circle"></i> About</a>
</li>
<li>
<a href=https://panopticpen.space/random-post/get_post.php><i class="fa-solid fa-dice fa-shake"></i> Random Post</a>
</li>
<li>
<a href=https://panopticpen.space/Quizzes/><i class="fas fa-question-circle"></i> Quizzes</a>
</li>
<li>
<a href=https://panopticpen.space/Gifts/><i class="fas fa-gift"></i> Gifts</a>
</li>
<li>
<a href=https://panopticpen.space/Tools/><i class="fas fa-tools"></i> Tools</a>
</li>
<li>
<a target="_blank" href=https://twitter.com/NotAnotherTip><i class="fa-brands fa-x-twitter"></i></a>
</li>
<li>
<a target="_blank" href='https://discord.gg/T6mnhHPHnN'><i class="fab fa-discord"></i></a>
</li>
<li>
<a target="_blank" href=https://www.facebook.com/The-Panoptic-Pen-Blog-797197447090060><i class="fab fa-facebook"></i></a>
</li>
<li>
<a target="_blank" href=https://mstdn.social/@panopticpen><i class="fab fa-mastodon"></i></a>
</li>
<li>
<a target="_blank" href='https://panopticpen.space/RSS'><i class="fa fa-rss"></i></a>
</li>
<li>
<a href="https://panopticpen.space/more"><i class="fas fa-plus"></i></a>
</li>
</ul>
<div class=clear></div>
</div>
</div>
</div>
<div class='tabs section' id=crosscol-overflow name='Cross-Column 2'>
<div class='widget HTML' data-version=1 id=HTML5>
<div class=widget-content>
<div id=widget-container>
<div class=news-ticker>
<ul id=ticker-list></ul>
</div>
</div>
</div>
<div class=clear></div>
</div>
</div>
</div>
</div>
<div class='tabs-cap-bottom cap-bottom'>
<div class=cap-left></div>
<div class=cap-right></div>
</div>
</div>
<div class=main-outer style=background-color:#fffafaf2!important>
<div class='main-cap-top cap-top'>
<div class=cap-left></div>
<div class=cap-right></div>
</div>
<div class='fauxborder-left main-fauxborder-left'>
<div class='fauxborder-right main-fauxborder-right'></div>
<div class='region-inner main-inner'>
<div class='columns fauxcolumns'>
<div class='fauxcolumn-outer fauxcolumn-center-outer'>
<div class=cap-top>
<div class=cap-left></div>
<div class=cap-right></div>
</div>
<div class=fauxborder-left>
<div class=fauxborder-right></div>
<div class=fauxcolumn-inner></div>
</div>
<div class=cap-bottom>
<div class=cap-left></div>
<div class=cap-right></div>
</div>
</div>
<div class='fauxcolumn-outer fauxcolumn-left-outer'>
<div class=cap-top>
<div class=cap-left></div>
<div class=cap-right></div>
</div>
<div class=fauxborder-left>
<div class=fauxborder-right></div>
<div class=fauxcolumn-inner></div>
</div>
<div class=cap-bottom>
<div class=cap-left></div>
<div class=cap-right></div>
</div>
</div>
<div class='fauxcolumn-outer fauxcolumn-right-outer'>
<div class=cap-top>
<div class=cap-left></div>
<div class=cap-right></div>
</div>
<div class=fauxborder-left>
<div class=fauxborder-right></div>
<div class=fauxcolumn-inner></div>
</div>
<div class=cap-bottom>
<div class=cap-left></div>
<div class=cap-right></div>
</div>
</div>
<div class=columns-inner>
<div class=column-center-outer>
<div class=column-center-inner>
<div class='main section' id=main name=Main>
<div class='widget HTML' data-version=1 id=HTML3>
<div id=fiverr-top-ads-div class=widget-content>
<a href="https://go.fiverr.com/visit/?bta=237457&nci=9748" rel=sponsored target=_Top>
<img border=0 src="https://fiverr.ck-cdn.com/tn/serve/?cid=26589306" width=728 height=90 />
</a>
</div>
<div class=clear></div>
</div>
<div class='widget Blog' data-version=1 id=Blog1>
<div class='blog-posts hfeed' id='blog-posts-hfeed-id'>
<h1><%= pageTitle %></h1><br><%- Content %>
</div>


<div id="disqus_comments"><br><br> <div id="disqus_thread"></div> <script> (function() {   var d = document, s = d.createElement('script'); s.src = 'https://panopticpen.disqus.com/embed.js'; s.setAttribute('data-timestamp', +new Date()); (d.head || d.body).appendChild(s); })(); </script> <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> </div>
</div>
</div>
<div class='widget HTML' data-version=1 id=HTML4>
<div class=widget-content>
<a href=https://a.seoclerks.com/linkin/761347 rel=nofollow title=SEOClerks>
<img style=max-width:100%;height:auto;border:0;border-radius:5px class=padding-top-1x src=https://www.panopticpen.space/media/SeoClerks728x90anim.gif alt=SEOClerks />
</a>
</div>
<br> <div id=d4E7JF9a7sXm>
<div id=rssFeedContainer></div>
<div id=rssStyleContainer>
<style>.feedItemContainer{margin-bottom:20px}.feedTitle{font-weight:bold;margin-bottom:5px}.feedDescription{margin-bottom:10px}.feedLink{color:blue;display:inline-block;padding:5px 10px;background-color:#f0f0f0;text-decoration:none;border-radius:4px}</style>
</div>
<div id=rssScriptContainer>
<script>function parseRSS(xml){var feed=xml.getElementsByTagName('item');var output='';for(var i=0;i<feed.length;i++){var title=feed[i].getElementsByTagName('title')[0].textContent;var link=feed[i].getElementsByTagName('link')[0].textContent;output+='<div class="feedItemContainer">';output+='<div class="feedTitle">'+title+'</div>';output+='<a class="feedLink" href="'+link+'">Visit Gig</a>';output+='</div>';}
document.getElementById('rssFeedContainer').innerHTML=output;}
function fetchRSS(){var protocol=window.location.protocol;var domain=window.location.hostname;var url=protocol+'//'+domain+'/fetchSeoclerkRSS.php';var xhr=new XMLHttpRequest();xhr.onreadystatechange=function(){if(xhr.readyState===4&&xhr.status===200){var xml=xhr.responseXML;parseRSS(xml);}};xhr.open('GET',url,true);xhr.send();}
fetchRSS();</script>
</div>
</div><br>
<a href="https://shop.ledger.com/pages/ledger-nano-s-plus/?r=76e2e8e33cb3"><img width=850 height=420 src=http://affiliate.ledger.com/image/850/420/Default></a><br>
<iframe id=myIframe src="https://www.fiverr.com/gig_widgets?id=U2FsdGVkX19b9bTBLg4usDtgFSIpR2g8hg4/gox6IyHCq34pJATO0x3Lm2/h0Z8skDiuzJ77f0vBO5wgEphAbGVu0M8XqQQiUtj/HBGc8x/R4DQAy8V2cbWbP8phHoccO+96TFg/tNqoBhBcQnDniQ5mABSTY6GL5qi4mdlJqifHAChc9BJVDYbQKBTGwZhbU5jke13bj/4x9up/nVcsr1j3eQtH4ldgyLYIvjxcX/uM9Xm38MQk77joTMEM4GCQ/xnZ6ekLaNLprSoyvUE0cYguvu4/rPrEOURVP/tWdxLcCExx646LXlZfsVVZ65NnG6kW3yIdBda5y5h182rVf8zcCjJrov7gtc+aV9gW2X2YlJ+9JL3OCYyvfGDrbE2plpSNEIpwoJg9Gqt6zkC6ycjVbt8frCzaDqEJqAD9vSRjmnrLwfooSZ8TEBlY5CcNelCFnxkjw1U4IZcE5bl0A9sXut+704uAWcFpMYZKvAZ/XyMuZKmKNW7KcdvcU1uQx8+bUrcvoM83z/d326uuToexqyO05waUQQwQPHWhYSST/hf+MnQllEaNdVcKf/LcA7w+wEigrRBZjm981VEQUdOktUY7/wtqXUT2L/+OyXs=&affiliate_id=237457&strip_google_tagmanager=true" loading=lazy data-with-title=true class=fiverr_nga_frame frameborder=0 height=350 width=100% referrerpolicy=no-referrer-when-downgrade data-mode=random_gigs onload="var frame=this;var script=document.createElement('script');script.addEventListener('load',function(){window.FW_SDK.register(frame);});script.setAttribute('src','https://www.fiverr.com/gig_widgets/sdk');document.body.appendChild(script)"></iframe>
<iframe src="https://tools.fiverr.com/?searchbox-iframe=1&amp;affid=237457&amp;widget-commission=fiverrhybrid&amp;delivery-time-flag=show-delivery-time&amp;widget-width=800" border=0 scrolling=no height=341px width=100% style="border:0;overflow:hidden;width:705px;max-width:800px;height:341px;box-shadow:rgba(17,17,17,0.12) 0 16px 32px" class=fasb-iframe-searchbox-widget data-origwidth=100% data-origheight=253px delivery-time-flag=show-delivery-time max-width=800 widget-width=800 id=iframeSEARCHFIVERR></iframe>
<div id="hostgatorDIV" style='width:700px'>
  <a href="https://go.coinmama.com/visit/?bta=60983&amp;nci=5364" target="_Top">
    <img border="0" src="https://coinmama.ck-cdn.com/tn/serve/?cid=676867" width="250" height="250">
  </a>
  <a href="https://go.fiverr.com/visit/?bta=237457&nci=10899" rel="sponsored" Target="_Top">
    <img border="0" src="https://fiverr.ck-cdn.com/tn/serve/?cid=27500376" width="300" height="250">
  </a>
  <a href="https://go.fiverr.com/visit/?bta=237457&nci=10897" rel="sponsored" Target="_Top">
    <img border="0" src="https://fiverr.ck-cdn.com/tn/serve/?cid=27500447" width="300" height="250">
  </a>
  <a href="https://go.fiverr.com/visit/?bta=237457&nci=8686" rel="sponsored" Target="_Top">
    <img border="0" src="https://fiverr.ck-cdn.com/tn/serve/?cid=27500475" width="300" height="250">
  </a>
</div>
<script> const iframeiffiverrdynamicgig = () => {
	function b() {
		var b = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
		return b ? "mobile" : "desktop";
	}
	function c() {
		var c = b(),
			a = "mobile" === c ? "none" : "block";
		d.style.display = a;
		e.style.display = a;
		f.style.display = a;
	}
	var d = document.getElementById("myIframe"),
		e = document.getElementById("iframeSEARCHFIVERR"),
		f = document.getElementById("hostgatorDIV");
	c();
	window.addEventListener("resize", c);
};
iframeiffiverrdynamicgig();
</script>
<div class=clear></div>
</div>
</div>
</div>
</div>
<div class=column-left-outer>
<div class=column-left-inner>
<aside></aside>
</div>
</div>
<div class=column-right-outer>
<div class=column-right-inner>
<aside>
<div class='sidebar section' id=sidebar-right-1>
<div class='widget HTML' data-version=1 id=HTML16>
<div class=widget-content>
</div>
<div class=clear></div>
</div>
<div class='widget HTML' data-version=1 id=HTML7>
<div class=widget-content>
<form id=searchbox method=get action=https://panopticpen.space/searchengine/search.php autocomplete=off onsubmit=searchWebsite(event)>
<input name=q type=text size=15 placeholder="Enter keyword here...">
<input id=button-submit type=submit value=" ">
</form> 
<style>#searchResults{position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5);display:none;z-index:9999}#searchResults iframe{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:80%;height:80%;border:0;background-color:white}</style><div id=searchResults>
<button id=closesearchbox onclick=closeSearchResults()>Close</button>
<iframe id=searchIframe></iframe>
</div>
</div>
<div class=clear></div>
</div>
<div class='widget HTML' data-version=1 id=HTML27>
<div class='widget-content'>
<div id='countShow'>
<script>
// Get the current domain
var currentDomain = window.location.origin;
// Create a new XMLHttpRequest object
var xhr = new XMLHttpRequest();
// Prepare the request to the "total-post-count" page
var url = currentDomain + '/total-post-count';
xhr.open('GET', url, true);
// Define the onload event handler
xhr.onload = function () {
  if (xhr.status === 200) {
    // Parse the response as HTML
    var parser = new DOMParser();
    var htmlDoc = parser.parseFromString(xhr.responseText, 'text/html');
    // Get the innerText of the "counted" div from the response
    var countedDiv = htmlDoc.getElementById('counted');
    var countedText = countedDiv.innerText;
    // Update the "countShow" div in the current page's DOM
    var countShowDiv = document.getElementById('countShow');
    countShowDiv.innerHTML = '<div id="postCountDisplayed"><b>&#x1F388; '+countedText+' <i>blog posts and counting! &#x1F388;</i></b></div>';
  }
};
// Send the request
xhr.send();
</script>
</div></div></div>
<div class='widget HTML' data-version=1 id=HTML1>
<div id=coinmama-sidebar-ad-div class=widget-content>
<a target="_blank" href="https://go.coinmama.com/visit/?bta=60983&nci=5414" target=_Top>
<img border=0 src="https://coinmama.ck-cdn.com/tn/serve/?cid=619824" width=300 height=250 />
</a>
</div>
<div class=clear></div>
</div>
 <div class="widget HTML" data-version="1" id="HTML143">
<div id="coffeepage" class="widget-content"><a href="https://panopticpen.space/coffee/" target="_Top"><img border="0" src="https://panopticpen.space/media/coffeeBannerAd.webp" width="220" height="220" style="border-radius:5px"></a></div>
<div class="clear"></div>
</div>
<div class='widget HTML' data-version=1 id=HTML17>
<h2 class=title>FREE IMAGE TO TEXT CONVERTER</h2>
<div target="_blank" class=widget-content> Convert your images into text with a few clicks! <a target="_blank" href="https://www.prepostseo.com/image-to-text?aff_id=2114231-e84ed7220662318ef6b6f23f5751ed51" style=color:yellow;font-weight:bold>Visit.</a>
</div>
<div class=clear></div>
</div>
<div class='widget HTML' data-version=1 id=HTML8>
<div class=widget-content>
<div style="background-color:#f2f2f2;padding:10px;border:1px solid #ccc;border-radius:5px">
<p style=font-size:16px;margin-bottom:10px>Join Canva with my link and get rewards! If you ever need to create a graphic, poster, invitation, logo, presentation &#8211; or anything that looks good &#8212; give Canva a go.</p>
<a target="_blank" href=https://www.canva.com/join/cleaner-notebook-lips style="display:inline-block;background-color:#7887a3
;color:#fff;padding:10px 20px;border-radius:4px;text-decoration:none">
<img src=https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Canva_icon_2021.svg/2048px-Canva_icon_2021.svg.png alt="Canva Logo" style=vertical-align:middle;height:20px;margin-right:5px /> Join Canva </a>
</div>
</div>
<div class=clear></div>
</div>
<div class='widget HTML' data-version=1 id=HTML9>
<div class=widget-content>
<div style="background-color:#f2f2f2;padding:10px;border:1px solid #ccc;border-radius:5px">
<p style=font-size:16px;margin-bottom:10px>I use DistroKid to upload my music to Spotify, iTunes, and more. So should you! Here's a 7% discount:</p>
<a target="_blank" href=https://distrokid.com/vip/seven/1061054 style="display:inline-block;background-color:#030202
;color:#fff;padding:10px 20px;border-radius:4px;text-decoration:none">
<img src=https://distrokid.com/images/distrokid_gremlin_small.png alt="DistroKid Logo" style=vertical-align:middle;height:20px;margin-right:5px /> Join DistroKid </a>
</div>
</div>
<div class=clear></div>
</div>
<div class='widget HTML' data-version=1 id=HTML10>
<div class=widget-content>
<div style="background-color:#f2f2f2;padding:10px;border:1px solid #ccc;border-radius:5px">
<p style=font-size:16px;margin-bottom:10px>Join LANDR Studio with my referral link and get started on your music production journey!</p>
<a target="_blank" href="https://join.landr.com/referral/landr-studio/?utm_campaign=sales_platform_en_intl_1stpromoter&utm_medium=paid_referral&utm_source=landr&fpr=pxc64" style="display:inline-block;background-color:#1f2c55
;color:#fff;padding:10px 20px;border-radius:4px;text-decoration:none">
<img src=https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/v1435641861/d1wpwmivbcn9epzcskgh.jpg alt="LANDR Logo" style=vertical-align:middle;height:20px;margin-right:5px /> Join LANDR </a>
</div>
</div>
<div class=clear></div>
</div>
<div class='widget HTML' data-version=1 id=HTML11>
<div class=widget-content>
<div style="background-color:#f2f2f2;padding:10px;border:1px solid #ccc;border-radius:5px">
<p style=font-size:16px;margin-bottom:10px>Check out Gate.io. Get a $100 Gate.io Points and $5,500 USDTest when you sign up with my link and trade:</p>
<a target="_blank" href="https://www.gate.io/signup/XwRNVl4L?ref_type=103" style="display:inline-block;background-color:#c1445e
;color:#fff;padding:10px 20px;border-radius:4px;text-decoration:none">
<img src=https://altcoinsbox.com/wp-content/uploads/2023/01/gate.io-logo.png alt="LANDR Logo" style=vertical-align:middle;height:20px;margin-right:5px /> Join Gate.io </a>
</div>
</div>
<div class=clear></div>
</div>
<div class='widget HTML' data-version=1 id=HTML12>
<div class=widget-content>
<div id=euronews-container>
</div>
<div style=border:0;border-radius:5px class=widget-content id=resource-library-ad-container>
</div> 
<div id="channelgely_ad_container">
</div>
<div id=fox-news-widget>
</div>
</div>
<div class=clear></div>
</div>
<div class='widget HTML' data-version=1  id=HTML33>
<div style='display:flex;' id=sadviserandtoplistbannersdiv>
</div>
<div id=spotify-yev-page-div>
</div>
<div id='mixed-bottom-sidebar-ad-div' class='widget-content'>
</div>
<div class=clear></div>
</div>
<div class='widget HTML' data-version=1 id=HTML19>
<div class=widget-content>
<div id=hereComesTheAdsIfJournalistPage></div>
</div><div class="gtranslate_wrapper"></div>
<script>window.gtranslateSettings = {"default_language":"en","native_language_names":true,"wrapper_selector":".gtranslate_wrapper","flag_size":16,"flag_style":"3d"}</script>
<script src="https://cdn.gtranslate.net/widgets/latest/flags.js" defer></script>
<div class=clear></div>
</div>
</div>
<table border=0 cellpadding=0 cellspacing=0 class='section-columns columns-2'>
<tbody>
<tr>
<td class='first columns-cell'>
<div class='sidebar no-items section' id=sidebar-right-2-1></div>
</td>
<td class=columns-cell>
<div class='sidebar no-items section' id=sidebar-right-2-2></div>
</td>
</tr>
</tbody>
</table>
<div class='sidebar no-items section' id=sidebar-right-3></div>
</aside>
</div>
</div>
</div>
<div style=clear:both></div>
</div>
</div>
</div>
<div class='main-cap-bottom cap-bottom'>
<div class=cap-left></div>
<div class=cap-right></div>
</div>
</div>
<footer>
<div class=footer-outer style=background-color:#cbced4eb!important>
<div class='footer-cap-top cap-top'>
<div class=cap-left></div>
<div class=cap-right></div>
</div>
<div class='fauxborder-left footer-fauxborder-left'>
<div class='fauxborder-right footer-fauxborder-right'></div>
<div class='region-inner footer-inner'>
<div class='foot section' id=footer-1>
<div class='widget HTML' data-version=1 id=HTML15>
<div class=widget-content>
</div>
<div class=clear></div>
</div>
<div class='widget HTML' data-version=1 id=HTML14>
<div class=widget-content>
<div class=bottom-bar>
<a target="_blank" href='https://hostinger.com?REFERRALCODE=1YUNUSS51'>
<img src=https://blogger.googleusercontent.com/img/a/AVvXsEgxb6C8XG5yGon19HyPVjfZ5lAImxm3DKyrFoLZVGgR-rgSohBSNrkU8hrYC0vAO-_oKZq1vL9ATuiIr2G8vgMIfMlmfvSb-QBqvatCRIllgwhWphj88e5XmvHhhFoINXAE5Bq_DmB_QH-2q778UsGjkedrcRCa3iAyKenQCgmQ9EFgFRFjTeInANoKIZw alt=Advertisement />
</a>
<a target="_blank" href=https://go.zoho.com/bWn>
<img src=https://blogger.googleusercontent.com/img/a/AVvXsEjNukphCP43X11yRV9UsghylBLKuoLijq6OusMcAjiqTTVDWyz4FtF7cugYvCdDILVkXLARiMjmitNXSWAhmzZG4YQjRJS0x7fNR7aNGnLCQj_XcSmJv5blmFwqPlkkh6vFnMS6DBacC9HyKWgWrwfOmpuPlaUpiIwQO9f_mUdGUMAKqhPtpONIxkxC0YE alt=advertisement />
</a>
<div class=close-button-container>
<span class=close-button>&times;</span>
</div>
</div>
</div>
<div class=clear></div>
</div>
</div>
<table border=0 cellpadding=0 cellspacing=0 class='section-columns columns-2'>
<tbody>
<tr>
<td class='first columns-cell'>
<div class='foot no-items section' id=footer-2-1></div>
</td>
<td class=columns-cell>
<div class='foot no-items section' id=footer-2-2></div>
</td>
</tr>
</tbody>
</table>
<div class='foot section' id=footer-3 name=Footer>
<div class='widget Attribution' data-version=1 id=Attribution1>
<div class='widget-content font-effect-shadow-multiple' style='font-family: "Sofia", sans-serif;text-align:center;font-size:2.2em;padding-bottom:20px'  >Copyright &#x00A9; 2023 - The Panoptic Pen Blog &#x00A9; | panopticpen.space &#x00A9; | panopticpen.gor.bio &#x00A9;</div>
<div class=clear></div>
</div>
<div class='widget HTML' data-version=1 id=HTML2>
<div class=widget-content>
</div>
<div class=clear></div>
</div>
<div class='widget HTML' data-version=1 id=HTML6>
<div class=widget-content>
</div>
<div class=clear></div>
</div>
<div class='widget HTML' data-version=1 id=HTML18>
<div class=widget-content>
</div>
<div class=clear></div>
</div>
</div>
</div>
</div>
<div class='footer-cap-bottom cap-bottom'>
<div class=cap-left></div>
<div class=cap-right></div>
</div>
</div>
</footer>
</div>
</div>
<div class='content-cap-bottom cap-bottom'>
<div class=cap-left></div>
<div class=cap-right></div>
</div>
</div>
</div>
<div id=divForSideFloatingAdvert></div>
<div id='leftsideman'></div>
 
<script src="https://panopticpen.space/scripts/functions1.js"></script>
<script src="https://panopticpen.space/scripts/functions2.js"></script>
<script src="https://gor.bio/floating-banner/floatingbanner.js"></script>
</body>
</html>